---
import BaseLayout from "@components/base/BaseLayout.astro";
import { markdownify } from "@lib/textConverter";

import type { NuestroCompromisoEntry } from "@/types";
import { render } from "astro:content";

interface Props {
  entry: NuestroCompromisoEntry;
}

const { entry } = Astro.props;
const { title, description } = entry.data;
const { Content } = await render(entry);
---

<BaseLayout title={title} description={description} >
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="glass rounded-lg text- p-8 md:col-10 lg:col-7 intersect:animate-fadeUp opacity-0 intersect-no-queue">
            <h2 set:html={markdownify(title)} class="h3 mb-6" />
            <Content />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
