---
import BaseLayout from "@/components/base/BaseLayout.astro";
import HeaderLogos from "@components/common/HeaderLogos.astro";
import HomeTeam from "@components/home-integrantes/HomeTeam.astro";
import Actividades from "@components/home/Actividades.astro";





---

<BaseLayout>
  <section class="container mx-auto px-4 py-16">
    <HeaderLogos/>
    <HomeTeam/>
  </section>
  <section class="container mx-auto px-4 py-16">
    <Actividades/>
  </section>
</BaseLayout>

