---
import { Image } from "astro:assets";

export interface ImageItem {
  src: ImageMetadata; // Changed to ImageMetadata for imported assets
  alt?: string;
}

interface Props {
  images: ImageItem[];
}

const { images }: Props = Astro.props;
---

<div id="default-carousel" class="relative w-full py-5" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96 lg:h-[680px]">
      {images && images.length > 0 && images.map((img, idx) => (
        <div class={`${idx === 0 ? '' : 'hidden'} duration-1000 ease-in-out`} data-carousel-item>
          <div class="absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            <Image
              src={img.src}
              alt={img.alt || `Slide ${idx + 1}`}
              class="w-full h-full object-cover"
              width={1200}
              height={500}
              loading="lazy"
            />
          </div>
        </div>
      ))}
    </div>
    
    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
      {images && images.length > 0 && images.map((_, idx) => (
        <button 
          type="button" 
          class="w-3 h-3 rounded-full" 
          aria-current={idx === 0 ? "true" : "false"} 
          aria-label={`Slide ${idx + 1}`} 
          data-carousel-slide-to={idx}
        ></button>
      ))}
    </div>
    
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-400/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-blue-950 dark:text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-400/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-blue-950 dark:text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>
